<div class="map-main"><%=image_tag 'map.jpg',class: 'map-image'  %></div>


<%=image_tag 'cutted.jpg', class: 'bgimg' %>

<!-- <div class="background-image"><%#=image_tag 'background_image_large.jpg', class: 'bgimg' %></div> -->
